:host {
  display: block;
  width: 100%;
  height: 100%;

  background-image: url(https://user-images.githubusercontent.com/10419447/44643252-cbc6d300-aa0a-11e8-9f98-c3746e0c1551.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 12px;
  
}

.dummy {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
